:root{
    --cor-di-fundo: #21ce3062;
    --letra:#063d1e;;

}

*{
font-family: Arial, Helvetica, sans-serif;
 
}
body{
    background-color:var(--cor-di-fundo);
    margin: auto;
    
}
h1 {
   color: #207733;
}
 body p {
    text-indent: 20px;
    text-align: justify;
    padding-left: 10px;
    line-height: 2em; /* espaçamento entre as linhas*/
    font-size: 1em; /* fonte gordinha*/
}
div{
    color: #fcfcfc;
    background-image: linear-gradient(to bottom,#23a13ec5,rgb(13, 71, 31));
    padding: 20px;
    text-align: center;
}
nav{
    display: inline-block;
    margin-right: 5px ;
    text-align: left;
    align-content: left;
    
 
    
    
}
nav > a{
    color: white;
    text-decoration: none;
    font: bolder;
    padding: 20PX;
   
    
    
}nav:hover {
    background-color: rgb(35, 150, 20);
    border-radius: 20px;
    padding: 5px;
    margin: auto;
   
    
}
main{
    background-color: rgb(245, 245, 245);
   min-width: 200px;
   max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding:10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.473);  /*Fazer sombra na borda*/
    border-bottom-left-radius: 10px;     /* Aredondar as bordas de baixo*/
    border-bottom-right-radius: 10px;
    
}
 
iframe >h1{
    background-color: #38ca58; 
  margin:0 auto;
}
.texto{
    border-radius: 25px;
    background-color: rgb(125, 223, 28);
    border: 1px;;
}
code{
    color: #38994d;
    font-size: larger;
}
.link{
    text-decoration: none;
    background-color: #08db366c;
    color: #024d12;
}
.link::after{
    content: '🔗';
}
.link:hover{
    text-decoration: none; 
}
.sub{
    color: #1f682f;
    background-image: linear-gradient(to right,#31cf78,#10ff5800);
    
}
.imagem3{
    width: 350px;
display: block;
margin: auto;
}
.imagem{
   width:100% ;
}
section{
    background-color: #024d12;
    margin: 0px -10px 30px -10px;
    padding: 20px;
    padding-bottom: 59%;
    position: relative;
}
section > iframe{
position: absolute;
top: 5%;
left: 5%;
width: 90%;
height: 90% ;
}
aside{
    background-color: #78f39354;
    border-radius: 10px;
    padding: 10PX;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.425);
    text-align: justify;
}

aside h3{
    background-color: #148d2e;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}
aside ul{
    list-style-type: '\2714\00A0' ;
    columns: 2;
}